@font-face {
  font-family: RussianFont;
  src: url(../Fonts/TriodPostnaja.ttf);
}

body {
  margin: 0;
  background-color: black;
}

#back-image {
  position: absolute;
  width: 100%;
  height: 57em;
  z-index: -100;
  image-rendering: crisp-edges;
  object-fit: cover;
  opacity: 0.5;
  margin: 0;
  filter: blur(0.1em);
  user-select: none;
  top: 0;
}

.header {
  background-color: rgba(0, 0, 0, 0.633);
  background-repeat: repeat-x;
  width: 100%;
  height: 8em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.4em);
  margin-bottom: 2em;
  box-shadow: 0 1em 1.5em rgb(0, 0, 0);;
}

.header > img {
  height: 60%;
  z-index: 99999;
  aspect-ratio: 1;
}

.header > span {
  font-family: 'RussianFont';
  color: rgb(255, 255, 255);
  font-size: 4em;
  text-align: center;
  margin: 0;
  width: 90%;
  height: 80%;
  vertical-align: middle;
  line-height: 1.5em;
  user-select: none;
}

.book-grid {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-element {
  display: flex;
  width: 24em;
  height: 14em;
  background-color: rgb(0, 0, 0);
  border-radius: 1em;
  margin: 0.5em;
  transition: background-color 0.5s;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 100;
}

.book-element:hover {
  box-shadow: 0px 0px 2000px 2000px rgba(0, 0, 0, 0.6);
  margin: 1em;
  height: 14.5;
  z-index: 101;
  background-color: rgb(255, 255, 255);
}

.book-thumbnail {
  height: 80%;
  margin: 1em;
  border-radius: 0.5em;
  transition: width 0.7;
  aspect-ratio: 0.65;
  flex-shrink: 99;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;
}

.book-name {
  font-family: 'RussianFont';
  color: rgb(255, 255, 255);
  font-size: 1.7em;
  text-align: left;
  transition: color 1s;
  margin-bottom: 0;
}

.book-autor {
  font-family: 'RussianFont';
  font-size: 1em;
  color: rgb(255, 255, 255);
  transition: color 1s;
}

.book-element:hover .book-name {
  color: rgb(0, 0, 0);
}
.book-element:hover .book-autor {
  color: rgb(62, 62, 62);
}

#loader {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99999;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#loader > img {
  width: 35em;
}

.hidden-loader {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 950px) {
  .header {
    height: 6em;
    width: 100%;
  }
  .header > span {
    display: none;  
  }
  #loader > img {
    width: 30em;
  }
  #back-image {
    height: 115em;
  }
}